{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "taskapp/style.css" %}">
        <link rel="shortcut icon" href="{% static "taskapp/images/favicon.ico" %}" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <title>CocktailCompass</title>
    </head>
    <body>
        <div class="navbar">
            <div class="most-searched-container">
                <p style="font-size: 0.8rem; margin: 3px;">Check out our most searched cocktails!</p>
                <button onclick="openMostSearched()">most searched!</button>
            </div>
            <h2>your one stop shop for all things Cocktail!</h2>
            <button class="exit-button" onclick="removeNavbar()"><img src="{% static "taskapp/images/cross.png" %}" alt="" class="exit-img"></button>
        </div>
        <div class="logo-container">
            <img src="{% static "taskapp/images/logo.png" %}" alt="">
        </div>
        <div class="search-wrapper">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Search...">
                <button class="search-button">Search</button>
            </div>
            <div class="results-container"></div>
        </div>
        <div class="footer">
            <p class="foot-text">@SE2025</p>
            <h6>created by SohamPanwalkar for Unicode</h6>
        </div>
        <script src="{% static "taskapp/script.js" %}"></script>
    </body>
</html>